@model ML.Direccion
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <h3>Aqui se muestran los datos de los alumnos registrados, actualiza,elimina o agrega alumno</h3>
    <hr />

    <div class="row">
        @*<div class="col-md-12 text-right">*@
        <div class="col-md-12 text-right">
            @Html.ActionLink("+", "Form", "Alumno", htmlAttributes: new { @class = "btn btn-success" })
        </div>

    </div>

    <br />

    @if (Model.Direcciones.Count > 0)
     {
        <div class="row" style="padding-top:30px">
            <div class="col-md-12">
                <table class="table table-hover">
                    <tr>
                        <th class="text-center" scope="col">
                            Editar
                        </th>
                        <th class="hidden" scope="col">
                            IdAlumno
                        </th>
                        <th class="text-center" scope="col">
                            Nombre
                        </th>
                        <th class="text-center" scope="col">
                            Apellido Paterno
                        </th>
                        <th class="text-center" scope="col">
                            Apellido Materno
                        </th>
                        <th class="text-center" scope="col">
                            Fecha de Nacimiento
                        </th>
                        <th class="text-center" scope="col">
                            Imagen
                        </th>
                        <th class="text-center" scope="col">
                            Eliminar
                        </th>

                    </tr>
                    @foreach (ML.Direccion direccion in Model.Direcciones)
                    {
                <tr>
                    <td>
                        <a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Alumno", new { IdAlumno = direccion.Alumno.IdAlumno })"></a>
                    </td>
                    <td class="hidden">
                        @direccion.Alumno.IdAlumno
                    </td>
                    <td class="text-center">
                        @direccion.Alumno.Nombre
                    </td>
                    <td class="text-center">
                        @direccion.Alumno.ApellidoPaterno
                    </td>
                    <td class="text-center">
                        @direccion.Alumno.ApellidoMaterno
                    </td>
                    <td class="text-center">
                        @direccion.Alumno.FechaNacimiento
                    </td>
                    @if (direccion.Alumno.Imagen != null)
                    {
                        <td><img src="data:image/jpeg;base64,@Convert.ToBase64String(direccion.Alumno.Imagen)" style=" height:150px; width: 150px;" /></td>
                    }
                    else
                    {
                        <td><img src="~/Img/sinimagen.jpg" style=" height:150px; width:150px;" /></td>
                    }

                    <td>
                        <a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Form", "Alumno", new { IdAlumno = direccion.Alumno.IdAlumno })"></a>
                    </td>
                </tr>
                    }
                </table>
            </div>
        </div>
     }
     else
     {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    No se encontraron registros sobre los semestres
                </div>
            </div>
        </div>
     }
</div>

